@import "./colors.scss";

.btn {
  background: none;
  border: none;
  appearance: none;
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 4px;
  color: $blue;
  font-weight: 500;
  cursor: pointer;

  &.primary {
    background-color: $blue;
    box-shadow: inset rgba(255, 255, 255, 0.15) 0 2px 4px,
      inset rgba(0, 0, 0, 0.1) 0 -2px 4px;
    color: $white;

    &.danger {
      background-color: $destructive;
      color: $white;
    }
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }

  &.danger {
    color: $destructive;
  }

  &:disabled {
    opacity: 0.3;
    cursor: not-allowed;
  }

  &.md {
    font-size: 16px;
    padding: 8px 10px;
  }
  &.lg {
    font-size: 18px;
    padding: 10px 12px;
  }
}

.button-switch {
  display: flex;
  flex-direction: row;
  background: $blue5;
  width: fit-content;
  border-radius: 4px;
  overflow: hidden;
}

.button-switch-btn {
  padding: 6px 10px;
  appearance: none;
  border: none;
  background: none;
  color: white;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  outline: none;
  border-right: 1px solid grey;

  &:nth-last-child(1) {
    border: none;
  }

  &:hover {
    background: rgba(255, 255, 255, 0.1);
  }
}

.button-switch-btn__selected {
  background: $blue;
  &:hover {
    background: $blue;
  }
}
