@import "./colors.scss";

.btn {
  background: none;
  border: none;
  appearance: none;
  font-size: 14px;
  padding: 4px 8px;
  border-radius: 4px;
  color: $blue;
  font-weight: 500;
  cursor: pointer;

  &.primary {
    background-color: $blue;
    box-shadow: inset rgba(255, 255, 255, 0.15) 0 2px 4px,
      inset rgba(0, 0, 0, 0.1) 0 -2px 4px;
    color: $white;

    &.danger {
      background-color: $destructive;
      color: $white;
    }
  }

  &:hover {
    opacity: 0.9;
  }

  &:active {
    opacity: 0.8;
  }

  &.danger {
    color: $destructive;
  }
}
