.react-checkbox {
  width: 13pt;
  height: 13pt;
  margin-left: 0px;
  appearance: none;
  border: 1px solid darkgrey;
  border-radius: 3px;
  cursor: pointer;
  position: relative;
  background: rgb(236, 236, 236);
  box-shadow: rgba(10, 10, 10, 0.15) 0px 2px 4px inset;

  &:checked,
  &:not(:checked) {
    &:before {
      content: "\2713\0020";
      position: absolute;
      left: 0.5pt;
      top: -1pt;
      font-size: 12pt;
      color: #257ae6;
      font-weight: bold;
      transition: all 0.1s;
    }
  }

  &:checked {
    &:before {
      transform: scale(1);
      opacity: 1;
    }
  }

  &:not(:checked) {
    &:before {
      opacity: 0;
      transform: scale(0);
    }
  }

  &:hover {
    border-color: #257ae6;
  }
}
