$grey1: #8e8e93;
$grey2: #636366;
$grey3: #48484a;
$grey4: #3a3a3c;
$grey5: #2c2c2e;
$grey6: #1c1c1e;

$adding: #32d74b;
$destructive: #ff453a;
$dark: #000000;
$light: #ffffff;

$blue: #0a84ff;
$orange: #ff9f0a;
$pink: #ff375f;
$indigo: #5e5ce6;
$purple: #bf5af2;
$tealBlue: #64d2ff;
$yellow: #ffd60a;

$darkGrey: rgba(32, 32, 32, 0.94);
$barGrey: rgba(22, 22, 22, 0.94);
$white: rgba(255, 255, 255, 0.92);

$darkerTopGradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 1) 0%,
  rgba(0, 0, 0, 0) 100%
);
$darkerBottomGradient: linear-gradient(
  180deg,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 1) 100%
);
