@import "./colors.scss";

@keyframes pulse {
  0% {
    transform: scale(0.3);
    background: #19395a;
    border-radius: 100%;
  }
  50% {
    background: $tealBlue;
  }
  100% {
    border-radius: 0;
    transform: scale(1);
    background: $blue;
  }
}

.field {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.6) 2px 4px 10px, rgba(0, 0, 0, 0.2) 1px 2px 3px;
  background: $grey1;
  flex-shrink: 0;
  td {
    border: 1px solid rgba(0, 0, 0, 0.05);
  }

  tr:nth-child(1) {
    td:nth-child(1) {
      border-radius: 8px 0 0 0;
    }
    td:nth-last-child(1) {
      border-radius: 0 8px 0 0;
    }
  }

  tr:nth-last-child(1) {
    td:nth-child(1) {
      border-radius: 0 0 0 8px;
    }
    td:nth-last-child(1) {
      border-radius: 0 0 8px 0;
    }
  }

  td {
    padding: 0;
    width: 14px;
    height: 14px;
    border-spacing: 0;

    &.visited {
      background: $blue;
      border: 1px solid transparent;
      animation: pulse 1s ease-in-out;
    }

    &.wall {
      position: relative;
      transform: scale(1.2);
      border-radius: 5px;
      background-color: #0b131b;
      transition: none;
    }

    &.start,
    &.end {
      background: $yellow;
      position: relative;
      transform: scale(1.2);
      border-radius: 5px;
    }
  }
}
