@import "./colors.scss";
@import "./pathfinder-settings.scss";
@import "./buttons.scss";

* {
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

body {
  height: 100vh;
  margin: 0;
  background: $light1;
}

header {
  font-size: 26px;
  padding: 0 32px;
  height: 64px;
  background: $blue5;
  color: $blue;
  box-shadow: $grey6 0 3px 3px;
  width: 100vw;
  box-sizing: border-box;
  user-select: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .navigation {
    font-size: 18px;
    color: $white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .btn {
      font-size: 18px;
      color: $white;
      outline: none;
      border: 2px solid transparent;
      transition: border 0.3s, color 0.3s;

      &:hover {
        color: $blue;
        border-bottom: 2px solid $blue;
      }
    }
  }
}

main {
  padding: 32px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

span.shortcut {
  border: 1px solid $grey1;
  border-radius: 3px;
  background: #e4e4e4;
  padding: 2px;
}

svg.clickable {
  cursor: pointer;
  &:hover {
    fill: $blue;
  }
}
